<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>
<body>
<div class="container playerTable">
    <div class="jumbotron">
        <h1><img src="{{club.imageUrl}}" class="clubIconInClubPage"/> {{club.name}} </h1>
        <p>Won/Lose/Draw : {{club.won+"/"+club.lost+"/"+club.draw}}</p>
        <p>Scored Goals : {{club.scoredGoals}}</p>
        <p>Received Goals : {{club.receivedGoals}}</p>
        <p>Points : {{club.points}}</p>
        <p>Trainer : {{club.trainer}}</p>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="btn" data-toggle="collapse" ng-click="playerVisible = !playerVisible">Player</a>
                    </h4>
                </div>
                <div class="panel-collapse" uib-collapse="playerVisible">
                    <div class="panel-body">
                        <table class="table table-stiped">
                            <tr>
                                <th>Name</th>
                                <th>SureName</th>
                                <th>Goals</th>
                            </tr>
                            <tr ng-repeat="player in players | orderBy : '-scoredGoals'">
                                <td>{{player.name}}</td>
                                <td>{{player.sureName}}</td>
                                <td>{{player.scoredGoals}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>