<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>
<body>
<table class="table table-stiped container">
    <tr>
        <th>#</th>
        <th></th>
        <th>Name</th>
        <th>Goals</th>
        <th>Points</th>
    </tr>
    <tr ng-repeat="club in clubs | orderBy : order">
        <td>{{$index+1}}</td>
        <td><img src="{{club.imageUrl}}" class="clubIcon"/></td>
        <td>{{club.name}}</td>
        <td>{{club.scoredGoals}} : {{club.receivedGoals}}</td>
        <td>{{club.points}}</td>
    </tr>
</table>
</body>
</html>